


  
        <div class="col-lg-6">
          <div class="widget-next-match">
            <div class="widget-body mb-6">
              <div class="widget-vs">
                <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                  <div class="team-1 text-center">
                    <img src="assets/images/logo_1.png" alt="Image">
                    <h3>Name</h3>
                    <h3>Fondation</h3>
                    <h3>Owner Team</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        


